@font-face {
    font-family: Jost;
    src: url('/assets/fonts/Jost-300.ttf');
    src: url('/assets/fonts/Jost-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Jost;
    src: url('/assets/fonts/Jost-500.ttf');
    src: url('/assets/fonts/Jost-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Lora;
    src: url('/assets/fonts/Lora-400.ttf');
    src: url('/assets/fonts/Lora-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Lora;
    src: url('/assets/fonts/Lora-400i.ttf');
    src: url('/assets/fonts/Lora-400i.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Lora;
    src: url('/assets/fonts/Lora-600.ttf');
    src: url('/assets/fonts/Lora-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Lora;
    src: url('/assets/fonts/Lora-600i.ttf');
    src: url('/assets/fonts/Lora-600i.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}