/*---------------------------------------------
                    COLORS
---------------------------------------------*/
$deepblue:          #000444;
$jewelblue:         #000888;
$brightpink:        #ff42a9;
$fadedpink:         rgba(255, 66, 169, .6);
$almostwhite:       #fffcfe;

/*---------------------------------------------
                  BREAKPOINTS
---------------------------------------------*/
$after-mobile:          501px;
$tablet:                800px;
$small-desktop:         1140px;